#DB
DATABASE_URL=tojidev:toai20102002@tcp(localhost:3306)/chat_app_db

#APP CONFIG
RUN_MODE=debug
PORT=8080

#MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=tojidev
MYSQL_PASSWORD=toai20102002
MYSQL_DATABASE=chat_app_db
MYSQL_SSL_MODE=disable
MYSQL_MIGRATE_MODE=auto

#JWT
JWT_SECRET_KEY=your_jwt_secret_key
JWT_EXPIRATION=24

#TOKEN
ACCESS_TOKEN_SECRET_KEY=your_access_token_secret
ACCESS_TOKEN_EXPIRE_MINutes=60
REFRESH_TOKEN_SECRET_KEY=your_refresh_token_secret
REFRESH_TOKEN_EXPIRE_MINUTES=1440


#FRONTEND
FRONTEND_URI=http://localhost:3000
FRONTEND_PORT=3000

#MAIL
EMAIL_SENDER=toainguyenvan20102002@gmail.com
EMAIL_PASSWORD=fuks eduz qrca blzx